.google{
    width: 35px;
}
.GoogleButton{
    margin-top: 100px;
    width: 300px;
    border-radius: 20px;
}
body{
    background-color: rgb(167, 158, 158);

}
.googleDiv{
    margin-top: 100px;
    background-color:white;
    height: 300px;
    width: 400px;
    box-shadow: 10px 10px 40px;
    margin-left: 25%;
}
.body{
    flex-direction: column;
  align-items: center;
  justify-content: center;
}